.main {
    height: 100vh;
    border: 1px solid red;
    display: flex;
}

.main .main-e{
    height: 100%;
}

.main .left-main{
    width: 5%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.main .left-main .l-m-top{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.main .left-main .l-m-icon{
    border: 1px solid red;
    padding: 10px;

}

.main .left-main .l-m-center {
    height: 25%;
    border: 1px solid red;
}

.main .left-main .l-m-end{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
 
}



.main .center-main {
    width: 90%;
    border: 1px solid red;
}

.main .right-main {
    width: 5%;
    border: 1px solid red;
}

