.main {
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    position: relative;
    
   
    
}

.main .main-e{
    height: 100%;
}

.main .left-main{
    width: 4%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    border-right: 1px solid #eee;
}

.main .left-main .l-m-top{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.main .left-main .l-m-icon{
    /* border: 1px solid red; */
    padding: 10px;

}
.main .right-main .l-m-icon {
    /* border: 1px solid red; */
    padding: 10px;

}

.main .left-main .l-m-center {
    height: 25%;
    /* border: 1px solid red; */
}

.main .left-main .l-m-end{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
 
}



.main .center-main {
    width: 93.5%;
    background-color: #f2f2f2;
    /* border: 1px solid red; */
}
.main .center-main .center-main-container{
    margin: 15px;
    
}
.c-m-header{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.c-m-header-left{
    width: 40%;
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.c-m-header-right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    border: 1px solid red;
}
.c-m-header-right button{
    background-color: #e6e6e6;
    margin: 0 3px ;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px 15px;
}




.main .right-main {
    width: 3.5%;
    /* border: 1px solid red; */
    position: relative;
    background-color: #616162;

}

.fix-top-l{
    position: relative;
    z-index: 9999999999;
    left: 0px;
    top: 0px;
    color: #333;
}

